:root {
    --dark-olive: rgba(25, 51, 35, 1);
    --dark--olive--transparent: rgba(25, 51, 35, 0.9);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    background: linear-gradient(45deg, #193323, #4f6156);
    position: relative;
}

#header {
    position: fixed;
    width: 100vw;
    z-index: 2;
    background-color: var(--dark-olive);
}

#nav-bar {
    max-width: 75%;
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar__left {
    display: flex;
}

.nav-bar__title {
    margin: auto 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-bar__link {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-bar__logo {
    display: inline-block;
    cursor: pointer;
    height: 50px;
    border-radius: 50%;
    background-color: #a0c7b0;
    padding: 0;
    overflow: hidden;
}

.nav-bar__img {
    height: 50px;
    width: 50px;
}

.mobile-menu {
    display: none;
    height: 35px;
    width: 40px;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 2px;
    width: 100%;
    padding: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.top-bar {
    transform: rotate(0deg);
    transform-origin: 8px 5px;
}
.middle-bar {
    transform: scale(1);  
    transform-origin: left; 
}
.bottom-bar {
    transform: rotate(0deg);
    transform-origin: 7px -4px;
}

.top-bar--active {
    transform: rotate(41deg);
}
.middle-bar--active {
    transform: scale(0);
}
.bottom-bar--active {
    transform: rotate(-40deg);
}

#main__section {
    margin: 0 auto;
    padding: 90px 0 0 0;
}

#img-banner {
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
}

#img-div {
    margin: 0 auto;
}

#image {
    max-width: 25%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    background-color: #a0c7b0;
}

#img-caption {
    position: absolute;
    left: -100000px;
}

#title {
    color: #fff;
    font-size: 1.75rem;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.title_main {
    margin: 10px auto;
}

.title_caption {
    font-size: 1.5rem;
    padding-bottom: 20px;
    margin: 5px auto;
    border-bottom: 2px solid #4f6156;
}

#tribute-info {
    margin: 10px auto 0 auto;
    color: #fff;
    font-size: 1.25rem;
}

.section {
    max-width: 60%;
    margin: 0 auto;
    padding: 15px 0 10px 0;
    border-bottom: 2px solid #4f6156;
}

.section_heading {
    margin: 15px auto;
}

.section_text {
    margin: 10px auto;
    font-size: 1.2rem;
    font-weight: 100;
}

#nobel-prizes {
    border-bottom: none;
}

.external {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: none;
    padding-top: 10px;
}

#copyright {
    font-size: 1rem;
}

#tribute-link, #tribute-link:visited, #tribute-link:active {
    color: #fff;
    text-decoration: underline;
}

#footer {
    color: #fff;
    background-color: #193323;
}

#linkedin {
    color: #fff;
}

@media (max-width: 1300px) {
    #title {
        font-size: 1.5rem;
    }
    .section {
        max-width: 90%;
    }
    .section_heading {
        margin: 15px auto;
    }
    .section_text {
        margin: 10px auto;
    }
}

@media (max-width: 1024px) {
    #nav-bar {
        max-width: 90%;
    }
    .nav-bar__link {
        padding: 0 9px;
        font-size: 1rem;
    }
    .nav-bar__title {
        margin: auto 2px;
        font-size: 1.3rem;
    }
    .nav-bar__logo {
        margin: 0 15px;
    }
    #image {
        max-width: 40%;
    }
    .title_caption {
        font-size: 1.2rem;
    }
    #tribute-info {
        width: 85%;
    }
}

@media (max-width: 768px) {
    #nav-bar {
        display: flex;
        flex-direction: column;
        height: 100px;
        align-items: center;
        justify-content: space-around;
    }
    .nav-bar__link {
        padding: 0 5px;
        font-size: .9rem;
    }
    .nav-bar__logo {
        margin: 0 5px;
    }
    .nav-bar__title {
        margin: auto 2px;
        font-size: 1rem;
    }#main__section {
        padding: 100px 0 0 0;
    }
    #title {
        font-size: 1.5rem;
    }
    .title_caption {
        font-size: 1rem;
    }
    .title_main {
        margin: 10px auto;
        font-size: 1.2rem;
    }
    .section_heading {
        margin: 15px auto;
        font-size: 1.1rem;
    }
    .section_text {
        font-size: .9rem;
        font-weight: 100;
    }
    #tribute-info {
        width: 90%;
        font-size: 1.2rem;
    }
    .external {
        font-size: 0.9rem;
    }
    #copyright {
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {

    #nav-bar {
        max-width: 80%;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-bar__links {
        position: absolute;
        left: 100%;
        right: -100%;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }
    .nav-bar-links--is-visible {
        left: 0;
        right: 0;
    }
    .nav-bar__link {
        width: 100%;
        background-color: var(--dark--olive--transparent);
        padding: 10px 0;
        font-size: .8rem;
        margin-top: 1px;
        text-align: center;
    }
    .mobile-menu {
        display: flex;
    }
    .section_heading {
        margin: 15px auto;
        font-size: 0.9rem;
    }
    .external {
        padding: 5px;
    }
}

@media (max-width: 300px) {
    #nav-bar {
        max-width: 95%;
    }
    .nav-bar__logo {
        height: 30px;
    }
    .nav-bar__img {
        height: 30px;
        width: 30px;
    }
    .nav-bar__title {
        font-size: 0.9rem;
    }
    .bar {
        height: 1px;
    }
    .mobile-menu {
        height: 30px;
        width: 30px;
    }
}
